.gallery-main {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.gallery-main > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-thumbs {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.gallery-thumb {
  width: 5rem;
  height: 5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  overflow: hidden;
  border: 2px solid transparent;
}
.gallery-thumb.active {
  border: 2px solid var(--primary-500);
}

.gallery-thumb > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
