.product-variations > * {
  margin-bottom: 0.5rem;
}

.product-variations h4 {
  margin-bottom: 0.5rem;
}
.product-variations button {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  display: inline;
  color: inherit;
  transition: var(--transition);
  margin: 0.5rem;
  border: 2px solid var(--grey-200);
  border-radius: var(--border-radius);
}
.product-variations button:hover {
  border: 2px solid var(--grey-400);
}
.product-variations button.active {
  background-color: var(--primary-100);
  color: var(--primary-500);
  border: 2px solid var(--primary-500);
}
