.customer-recent-orders-container {
  background-color: var(--card-background);
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.customer-recent-orders-container h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.customer-recent-orders-container .order-item {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  padding: 0.5rem;
}
.customer-recent-orders-container .order-item p {
  text-align: start;
  font-size: 0.8rem;
}

.customer-recent-orders-container .order-item > div > p:last-child {
  color: var(--grey-500);
  font-style: italic;
}
