.option-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .option-container {
    flex-direction: column;
    align-items: stretch;
  }

  .option-container button {
    width: fit-content;
    align-self: flex-end;
  }
}

.option-container > div {
  flex: 1;
  margin: 0;
}
