.add-variations-container {
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  padding: 1rem;
  width: 100%;
  max-width: var(--fixed-width);
  margin: 1rem auto;
}

.variation-container {
  background-color: var(--background-color);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  margin: 1rem 0;
  padding: 0.5rem;
}

.variation-container .delete-btn {
  background-color: transparent;
  color: red;
}
