.app-settings {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.app-settings.top-left {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.lang {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.app-settings button {
  outline-color: transparent;
  border-color: transparent;
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  color: var(--text-color);
  cursor: pointer;
}
.app-settings button:hover {
  background-color: var(--grey-100);
}
