.product-card {
  background: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-1);
  overflow: hidden;
  cursor: pointer;
  border: 1px solid transparent;
  transition: var(--transition);
}

.product-card:hover .product-image-wrapper img {
  border-color: var(--primary-500);
  box-shadow: var(--shadow-2);
  transform: scale(1.1);
}

/* Image */
.product-image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.product-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
}

/* Favorite button */
.favorite-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: var(--white);
  border-radius: 50%;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: var(--shadow-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite-btn.active svg {
  color: red;
}

/* Info */
.product-info {
  padding: 0.75rem;
}

.product-name {
  font-size: 0.95rem;
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
  font-size: 1rem;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: var(--grey-500);
  margin-bottom: 0.5rem;
}

.product-rating > svg {
  color: rgb(250 204 21);
  fill: rgb(250 204 21);
  font-size: 0.5rem;
  width: 1rem;
}

.product-info > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price-container {
  display: block;
  margin-top: 0.25rem;
}
.product-price {
  color: var(--primary-500);
  font-weight: 700;
  font-size: 1.125rem;
}

.product-info > div:last-child > button {
  cursor: pointer;
  border-radius: var(--border-radius);
  border: transparent;
  padding: 0.5rem 1rem;
  background-color: var(--primary-100);
  color: var(--primary-500);
  transition: var(--transition);
  display: inline-block;
}

.product-info > div:last-child > button:hover {
  background-color: var(--primary-200);
}

/* html[data-theme="dark"] .product-info > div:last-child > button {
  background-color: var(--primary-900);
} */
