.quantity-selector {
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 0.2rem;
  overflow: hidden;
  height: 30px;
  border: 1px solid var(--border-color);
}

.quantity-selector button {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity-selector button:hover {
  background-color: var(--grey-200);
}

.quantity-selector span {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
}
