.add-edit-seller-product-container > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--card-background);
  box-shadow: var(--shadow-2);
  padding: 1rem;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.add-edit-seller-product-container header > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-edit-seller-product-container header .save-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.add-edit-seller-product-form h3 {
  margin-bottom: 1rem;
}

.submit-container {
  display: flex;
  align-items: center;
  justify-content: end;
}
