.seller-products-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.seller-products-container header h1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.seller-products-container header h1 svg {
  color: var(--primary-500);
}

.seller-products-container header button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
