.personal-info-form {
  padding: 2rem;
}

.personal-info-form h2 {
  margin-bottom: 2rem;
}

.profile-image {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  color: var(--grey-500);
}

.profile-image label div {
  width: 100px;
  height: 100px;
  background-color: var(--background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.profile-image .camera-icon {
  width: 50%;
  height: 50%;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: end;
}
