.setting-tabs-container button {
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  background-color: var(--card-background);
  box-shadow: var(--shadow-1);
  cursor: pointer;
  color: var(--text-color);
  transition: var(--transition);
}
.setting-tabs-container button:hover {
  background-color: var(--border-color);
}

.setting-tabs-container .active,
.setting-tabs-container .active:hover {
  background-color: var(--primary-100);
}

.setting-tabs-container .active {
  color: var(--primary-500);
}

html[dir="ltr"] .setting-tabs-container .active {
  border-left-color: var(--primary-500);
}

html[dir="rtl"] .setting-tabs-container .active {
  border-right-color: var(--primary-500);
}

.setting-tabs-container button:first-child {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.setting-tabs-container button:last-child {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
