.login-page .form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}
.login-header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-title {
  text-align: center;
}
.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.form-hint {
  margin-top: 1rem;
}
