.register-page {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-page h2,
p {
  text-align: center;
}

.register-page h3 {
  border-bottom: 2px solid var(--grey-200);
  margin-bottom: 0.5rem;
}

.register-page .role {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (min-width: 768px) {
  .register-page .form-section {
    display: flex;
    column-gap: 1rem;
  }
}

.register-page .role div > label {
  border: 2px solid var(--grey-300);
  border-radius: var(--border-radius);
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  /*  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-page .profile-image {
  display: flex;
  justify-content: center;
}

.register-page .profile-image label div {
  width: 100px;
  height: 100px;
  background-color: var(--background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.register-page .profile-image .camera-icon {
  width: 50%;
  height: 50%;
}

.register-page .link-container {
  font-size: var(--small-text);
  text-align: center;
  margin-top: 0.5rem;
}
.register-page .link-container a:hover {
  border-bottom: 1px solid var(--primary-500);
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.register-page .role div input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

.register-page .role div input[type="radio"]:checked + label {
  border-color: var(--primary-500);
  background-color: var(--primary-100);
}
