.user-card {
  background: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-1);
  overflow: hidden;
  padding: 0.75rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.user-card:hover {
  box-shadow: var(--shadow-2);
}

.user-card p {
  color: var(--grey-500);
  text-align: start;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
