.admin-recent-registrations-container {
  background-color: var(--card-background);
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.admin-recent-registrations-container h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.recent-registration-item {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.user-name-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-name-container .profile-image-container {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-500);
}

.user-name-container .profile-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-name-container div small {
  display: block;
}
.user-name-container div small:last-child {
  color: var(--grey-500);
}

.user-roles-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.user-roles-container .role {
  display: inline-block;
  background-color: var(--primary-200);
  padding: 0.2rem 0.4rem;
  border-radius: var(--border-radius);
  color: var(--text-color);
}
