.forget-password-page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.forget-password-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}

.forget-password-page button {
  padding: 0.75rem 1rem;
  background-color: var(--primary-500);
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.forget-password-page button:hover {
  background-color: var(--primary-400);
}

.forget-password-page .link-container {
  font-size: var(--small-text);
  margin-top: 0.5rem;
}

.forget-password-page .link-container a:hover {
  border-bottom: 1px solid var(--primary-500);
}
