.back-to-home-link {
  color: var(--grey-500);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.product-page-container {
  display: grid;
  gap: 1rem;
}
@media (min-width: 768px) {
  .product-page-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
