.confirm-modal-actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  margin-top: 2rem;
}

.confirm-modal-actions button {
  color: var(--text-color);
}

.confirm-modal-actions .cancel-btn {
  background-color: transparent;
}

.confirm-modal-actions .cancel-btn:hover {
  background-color: var(--grey-200);
}
