.confirm-modal .btn-danger {
  background-color: #dc3545;
  color: var(--white);
}

.confirm-modal .btn-danger:hover {
  background-color: #e53935;
}

.confirm-modal-actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  margin-top: 2rem;
}
