.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--card-background);
  color: var(--text-color);
  height: 60px;
  padding: 0 1rem;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.navbar > div {
  display: flex;
  align-items: center;
}

.burger-btn {
  font-size: 1.5rem;
  background: transparent;
  color: var(--text-color);
  border: none;
  cursor: pointer;
}
