.searchable-select {
  position: relative;
  width: 100%;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 0.25rem;
  background: var(--card-background);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-1);
  max-height: 220px;
  overflow-y: auto;
  z-index: 100;
  transition: var(--transition);
  /* padding: 0.5rem; */
}
.dropdown:hover {
  box-shadow: var(--shadow-2);
}

.dropdown .dropdown-item {
  padding: 0.7rem;
  cursor: pointer;
  transition: var(--transition);
}

.dropdown .dropdown-item:hover {
  background: var(--background-color);
}
