* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-100: #ffe9c4;
  --primary-200: #ffd58a;
  --primary-300: #ffbf4d;
  --primary-400: #f5a51a;
  --primary-500: #e89a0a;
  --primary-600: #e09006;
  --primary-700: #b37305;
  --primary-800: #865604;
  --primary-900: #593903;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* rest of the colors */
  --color-secondary: hsla(182, 63%, 54%);
  --color-gold: #c59d5f;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts */
  --heading-font: "Roboto", sans-serif;
  --body-font: "Nunito", sans-serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* rest of the vars */
  --background-color: var(--grey-50);
  --text-color: var(--grey-900);
  --border-radius: 0.25rem;
  --letter-spacing: 1px;
  --transition: 0.3s ease-in-out all;
  /* --max-width: 1170px; */
  --max-width: 1200px;
  --fixed-width: 600px;

  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--background-color);
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.75;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--primary-500);
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* btns */
/* buttons */
.btn {
  cursor: pointer;
  border-radius: var(--border-radius);
  border: transparent;
  letter-spacing: var(--letter-spacing);
  padding: 0.5rem 1rem;
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary-500);
}
.btn-primary:hover {
  background-color: var(--primary-700);
}
.btn-primary-outline {
  color: var(--primary-500);
  background-color: transparent;
  border: 2px solid var(--primary-500);
}
.btn-primary-outline:hover {
  color: var(--white);
  background-color: var(--primary-500);
}
.btn-block {
  width: 100%;
}

/* forms */
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

small,
.text-small {
  font-size: var(--small-text);
}

.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}

.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  border: 1px solid var(--grey-200);
}

.form-input {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  border: 2px solid var(--grey-200);
  display: flex;
  align-items: center;
  width: 100%;
}
.form-input.error {
  border-color: var(--red-light);
}
.form-input span {
  display: flex;
  align-items: center;
}
.form-input input {
  flex: 1;
  padding: 0 0.5rem;
  background-color: var(--background-color);
  border: none;
  outline: none;
}

.form-input:focus-within {
  border-color: var(--primary-500);
}

.form-input:focus,
.form-textarea:focus {
  outline-color: var(--primary-500);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  font-size: var(--small-text);
}

/* Register Page */
.register-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-page h2,
p {
  text-align: center;
}

.register-page h3 {
  border-bottom: 2px solid var(--grey-200);
  margin-bottom: 0.5rem;
}

.register-page .role {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (min-width: 768px) {
  .register-page .form-section {
    display: flex;
    column-gap: 1rem;
  }
}

.register-page .role div > label {
  border: 2px solid var(--grey-300);
  border-radius: var(--border-radius);
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  /*  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-page .profile-image {
  display: flex;
  justify-content: center;
}

.register-page .profile-image label div {
  width: 100px;
  height: 100px;
  background-color: var(--background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.register-page .profile-image .camera-icon {
  width: 50%;
  height: 50%;
}

.register-page .link-container {
  font-size: var(--small-text);
  text-align: center;
  margin-top: 0.5rem;
}
.register-page .link-container a:hover {
  border-bottom: 1px solid var(--primary-500);
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.register-page .role div input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

.register-page .role div input[type="radio"]:checked + label {
  border-color: var(--primary-500);
  background-color: var(--primary-100);
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

.clear-btn {
  margin-bottom: 0.5rem;
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* App Settings */
.app-settings {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.lang {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.app-settings button {
  outline-color: transparent;
  border-color: transparent;
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.app-settings button:hover {
  background-color: var(--grey-100);
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
