.brand-page-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.brand-page-container header h1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.brand-page-container header h1 svg {
  color: var(--primary-500);
}

.brand-page-container header button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.brand-actions-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.brand-actions-btn button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--grey-500);
  transition: var(--transition);
}
.delete-brand-btn:hover {
  color: red;
}
.edit-brand-btn:hover {
  color: var(--primary-500);
}
