.products-management-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.products-management-container header h1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.products-management-container header h1 svg {
  color: var(--primary-500);
}

.products-management-container header button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-actions button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--grey-500);
  transition: var(--transition);
}
.delete-product-btn:hover {
  color: #e3606d;
}
.edit-product-btn:hover {
  color: #72dc8b;
}
