.user-actions-btn-container button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--grey-500);
  transition: var(--transition);
}
.delete-user-btn:hover {
  color: #e3606d;
}
.edit-user-btn:hover {
  color: #72dc8b;
}

.user-roles-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.user-roles-container .role {
  display: inline-block;
  background-color: var(--primary-200);
  padding: 0.2rem 0.4rem;
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.user-card .user-actions-btn-container {
  margin-top: 0.5rem;
  padding-top: 1rem;
  border-top: 1px solid var(--background-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: end;
}

.user-status {
  display: inline-block;
  background-color: var(--primary-300);
  padding: 0.2rem 0.4rem;
  border-radius: var(--border-radius);
  color: var(--white);
}
.user-status.active {
  background-color: #72dc8b;
}
.user-status.inactive {
  background-color: #e3606d;
}

.user-name-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-name-container .profile-image-container {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-500);
}

.user-name-container .profile-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-name-container div small {
  display: block;
}
.user-name-container div small:last-child {
  color: var(--grey-500);
}
