.customer-order-info-modal h3 > * {
  display: block;
}

.customer-order-info-modal h3 > small {
  color: var(--primary-500);
}

.customer-order-status-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--background-color);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  margin: 1rem 0;
}

.customer-order-status-container > span {
  background-color: var(--card-background);
  padding: 0.2rem 0.4rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--grey-200);
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.customer-order-status-container > span svg {
  width: 1rem;
}

.customer-order-status-container > .active {
  background-color: var(--primary-100);
  border-color: var(--primary-500);
  color: var(--primary-500);
}

.sub-order-container {
  background-color: var(--background-color);
  margin: 1rem 0;
  border-radius: var(--border-radius);
  padding: 0.5rem;
}
.sub-order-container p {
  text-align: start;
}

.sub-order-items-container h4 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.sub-order-items-container li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  margin: 0 0.5rem;
}

.customer-order-info-modal .confirm-modal-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
