.view-switcher-container {
  display: flex;
  background-color: var(--primary-100);
  width: fit-content;
  /* padding: 0.5rem 1rem; */
  border-radius: var(--border-radius);
  margin: 1rem 0;
  transition: var(--transition);
}
.view-switcher-container:hover {
  background-color: var(--primary-200);
}

.view-switcher-container .view-btn {
  background-color: transparent;
  color: var(--text-color);
  width: 100%;
  height: 100%;
}

.view-switcher-container .view-btn.active {
  background-color: var(--primary-500);
}
