.product-info-container {
  background-color: var(--card-background);
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius);
  padding: 1rem;
  width: 100%;
  max-width: var(--fixed-width);
  margin: 0 auto;
}

.product-image-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0.5rem;
}

.product-image-container .upload-product-image-container {
  width: 6rem;
  height: 6rem;
  border: 2px dashed var(--grey-200);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--border-radius);
}
.product-image-container .upload-product-image-container:hover {
  border-color: var(--primary-500);
}

.product-preview-container {
  width: 6rem;
  height: 6rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  transition: var(--transition);
}

.product-preview-container.primary-image {
  border: 2px solid var(--primary-500);
}

.primary-badge {
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: var(--grey-200);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-badge > svg {
  fill: var(--primary-500);
  color: var(--primary-500);
}

.product-preview-container button {
  position: absolute;
  top: 3px;
  right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--grey-200);
  cursor: pointer;
  border-color: transparent;
  color: red;
  display: none;
}

.product-preview-container:hover button {
  display: flex;
}

.product-preview-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border: 2px solid transparent;
  cursor: pointer;
  transition: var(--transition);
}

.save-container {
  display: flex;
  align-items: center;
  justify-content: end;
}
