.product-items-container {
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  padding: 1rem;
  width: 100%;
  max-width: var(--fixed-width);
  margin: 1rem auto;
}

.product-items-container > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.product-items-container > header > button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.upload-product-image-container {
  width: 6rem;
  height: 6rem;
  border: 2px dashed var(--grey-200);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--border-radius);
  width: 100%;
}

.upload-product-image-container:hover {
  border-color: var(--primary-500);
}

.sku-images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.5rem 0;
}

.product-preview-container {
  width: 6rem;
  height: 6rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  transition: var(--transition);
}

.product-preview-container button {
  position: absolute;
  top: 3px;
  right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--grey-200);
  cursor: pointer;
  border-color: transparent;
  color: red;
  display: none;
  box-shadow: var(--shadow-2);
}

.product-preview-container:hover button {
  display: flex;
}

.product-preview-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.product-variants {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.product-variants .variant {
  background-color: var(--grey-200);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
}
