.step-navigation-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--fixed-width);
  margin: 1rem auto;
}

.step-navigation-container.one {
  justify-content: end;
}
